extends layout

block content
  h1= title
  | <script>var ids = !{ids}</script>

  //- p.lead Details(Animals) for study
  .row
    .col-sm-12
      #map-individual      

  .row
    .col-sm-6
      h3 
        span#events-range-start Eearlier
        | - 
        span#events-range-end Now
      p Total distance traveled: 
       span#events-distance
       | km
      p Distance Start-End: 
       span#events-distanceAB  
       | km
       br
       | Events: 
       span#events-count 
       br
       | Events per day: 
       span#events-avg
       br

    .col-sm-6
      h3
      button.btn.btn-default.fa.fa-arrow-circle-o-left#prev-week 
      button.btn.btn-default.fa.fa-times-circle#reset-week
      button.btn.btn-default.fa.fa-arrow-circle-o-right#next-week(disabled) 
      button.btn.btn-default.fa.fa-play#map-fly
      button.btn.btn-default.fa.fa-stop#map-stop
      br
      br
      -var id = JSON.parse(ids).id 
      a(href="/admin/story/" + id + "/latest")#generate-content View Story  <br>
      a(href='#' data-animalId=id).update-story-data Update story data <br>


  script.

    var eventFeature = {
      range : #{featureRange}
    }

    $(document).ready(function() {

      var socket = io.connect();
      var map = new mapController(socket);
      
      $('#prev-week').on('click',function(e){
        map.showPrevWeek();
      })

      $('#next-week').on('click',function(e){
        map.showNextWeek();
      })

      $('#reset-week').on('click',function(e){
        map.resetWeek();
      })

      $('#map-fly').on('click',function(e){
        map.flyToNextEvent();
      })

      $('#map-stop').on('click',function(e){
        map.flyStop();
      })

    });