extends layout_front
block content
  .row.col-sm-4.col-sm-offset-4
    i(data-feather="feather")
    h1 Ciconia
    p.lead Expirience bird migration. <br> Sign up and recieve updates once migration started.
    
    signup
    