extends layout

block content
  h1 Studies
  p.lead List of Movebank studies that have data available
  .row
    .col-sm-9
      h2= title
      if studies
        table.table.table-striped.table-hover
          tr
            th Id
            th Name
            //- th Animals #
            //- th Last update
            th
          
          for study in studies
            tr
              td= study.id
              td= study.name
              //- td= study.animalCount
              //- td= study.lastUpdate
              td
                - var id = study.id
                a(href='/admin/studies/' + id) View
