extends layout

block content
  h1 Sad to see you go.
  p.lead= msg

  script.
    $(document).ready(function() {
      
      //- var socket = io.connect();

      //- $('form').on('submit',function(e){
      //-   e.preventDefault();
      //-   socket.emit('createUser',$(this).serialize());
      //- });

      //- socket.on('createUserResult', data => {
      //-   $('#msg').html(data.msg);
      //- });    
    
    });
        
