@import url('https://rsms.me/inter/inter-ui.css');

// @import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

// @import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,.feather {
  margin-right: 10px;
}

.feather.feather-feather {
  width: 18px;
  height: 18px;
}

#map-individual {
  width: 100%;
  height: 50vh;
}

iframe {
  width: 100%;
  height: 100vh;
  border: 0;
}

.front {
  
  .container {
    text-align: center;
  }

  .feather {
    margin-right: 0;
  }
  
  .feather.feather-feather {
    transform: translate(50%);
    width: 128px;
    height: 128px;
  }

  input {
    width: 100%;
  }
}

